.BookingForm-plugin .divTable{
	display: table;
	width: 100%;
}
.BookingForm-plugin .divTableRow {
	display: table-row;
}
.BookingForm-plugin .divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.BookingForm-plugin .divTableCell, .divTableHead {
	border: 0px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.BookingForm-plugin .divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.BookingForm-plugin .divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.BookingForm-plugin .divTableBody {
	display: table-row-group;
}
